/* {
  margin: 0;
  font-family: sans-serif;
} */
rect {
  width: 200px;
  height: 100px;
}
.droparea {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 3px;
  border-color: red;
  float: left;
  line-height: 200px;
  text-align: center;
}

text {
  dominant-baseline: middle;
  text-anchor: middle;
}

.content {
  margin: 0 auto;
  width: 400px;
}

table,
td,
th {
  border: 1px solid #aaa;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 30px;
}

td {
  text-align: center;
  padding: 5px;
}

.form {
  margin-top: 20px;
  text-align: center;
}

#content {
  width: 70%;
}
