Skip
  to
  content
  Search
  or
  jump
  to…
  Pull
  requests
  Issues
  Marketplace
  Explore
  @beeteedubs
  Learn
  Git
  and
  GitHub
  without
  any
  code!
  Using
  the
  Hello
  World
  guide,
you’ll start a branch,
write comments,
and
  open
  a
  pull
  request.
  jakerieger
  /
  FlaskIntroduction
  14
  114108
  Code
  Issues
  Pull
  requests
  2
  Actions
  Projects
  Wiki
  Security
  Insights
  FlaskIntroduction/static/css/main.css
  @jakerieger
  jakerieger
  initial
  commit
  Latest
  commit
  2141f98
  on
  May
  25,
2019 History 1 contributor 35 lines (28 sloc) 355 Bytes body,
html {
  margin: 0;
  font-family: sans-serif;
}

.content {
  margin: 0 auto;
  width: 400px;
}

table,
td,
th {
  border: 1px solid #aaa;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  height: 30px;
}

td {
  text-align: center;
  padding: 5px;
}

.form {
  margin-top: 20px;
}

#content {
  width: 70%;
}
