<!-- Contains framework for other HTML, doesn't actually contain substance -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main2.css') }}">
    </link>

    <script src="https://d3js.org/d3.v5.min.js"></script>

    {% block javascript %}{% endblock %}
    {% block head %}{% endblock %}
</head>

<body>


    {% block body %}{% endblock %}
</body>

</html>