<!-- Contains the form for databse input and chart taht displays databse info -->

{% extends 'base2.html' %}

{% block javascript %}
<script>
    // Data from database in JSON
    var data = [
        {% for entry in entries %}
    {% if "{{ entry.id }}" != entries | length %}
    { name: "{{ entry.name }}", parent: "{{ entry.parent }}", img: "{{ entry.image }}" },
    {% else %}
    { name: "{{ entry.name }}", parent: "{{ entry.parent }}", img: "{{ entry.image}}" }
    {% endif %}
    {% endfor %}
        ];
    console.log(data)
</script>
{% endblock %}

{% block head %}
<h1 style="text-align: center">Fam Tree Data</h1>
{% endblock %}

{% block body %}
<script src='../static/js/script2.js'></script>
<div class='form'>
    <form action="/" method="POST">
        <input type="text" name='Your Name' placeholder="Your Name" id=name>
        <input type="text" name="Father's Name" placeholder="Father's Name" id=parent>
        <input type="text" name="Image's Name" placeholder="Image's Name" id=image>
        <select name="Any Children?" placeholder="Any children?">
            <option disabled selected value="">Any children?</option>
            <option selected='selected' value="True">Yes, I have children</option>
            <option value="False">No, I have no children</option>
        </select>
        <input type='submit' name='Add Task'>
    </form>
</div>
<div class="content">
    {% if entries|length < 1 %}
    <h4 style="text-align: center">There are no family entries. Create one below!</h4>
    {% else %}
    <table>
        <tr>
            <th>ID</th>
            <th> Your Name</th>
            <th> Your Father's Name</th>
            <th> Image's Name</th>
            <th> Any Children?</th>
            <th> Actions</th>
        </tr>
        {% for entry in entries %}
        <tr>
            <td>{{ entry.id }}</td>
            <td>{{ entry.name }}</td>
            <td>{{ entry.parent }}</td>
            <td>{{ entry.image }}</td>
            <td>{{ entry.have_children }}</td>
            <td>
                <a href="/delete/{{entry.id}}">Delete</a>
                <br>
                <a href="/update/{{entry.id}}">Update</a>
            </td>
        </tr>
        {% endfor %}
    </table>
    {% endif %}
</div>
{% endblock %}