{% extends 'base2.html' %}

{% block javascript %}
{% endblock %}

{% block head %}
{% endblock %}

{% block body %}
<!-- <script src='../static/js/script2.js'></script> -->
<!-- <svg height='500' width='800'>
    <defs>
        <pattern id='paula-deen' height='100%' width='100%' patternContentUnits='objectBoundingBox'>
            <image height='1' width='1' preserveAspectRatio='xMidYMid slice' xmlns:xlink='http://www.w3.org/1999/xlink'
                href='{{url_for("static", filename="images/Grandma.jpg")}}'></image>
        </pattern>
    </defs>
    <circle cx='100' cy='100' r='80' fill='url(#paula-deen)'></circle>
    <image src='{{ url_for("static", filename="images/Grandma.jpg") }}' />
</svg> -->
{% endblock %}