<!-- Transfers info from database to javascript for use in family tree -->

{% extends 'base2.html' %}

{% block javascript %}
<script>
    var data = [
        {% for entry in entries %}
    { name: "{{ entry.name }}", parent: "{{ entry.parent }}", spouse: "{{ entry.spouse }}", img: "Grandma.png" },
    {% endfor %}
    { name: "Bye", parent: "", spouse: "", img: "Grandma.png" }

        ];
</script>
{% endblock %}

{% block head %}
<title>Family Tree</title>
{% endblock %}

{% block body %}
<a href='/'>Back to Table</a>
<script src='../static/js/script2.js'></script>
{% endblock %}