<!-- Displays updated page, kinda confusing to me atm -->

{% extends 'base2.html' %}

{% block head %}
<title>Task Master</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">Update Task</h1>

    <div class="form">
        <form action="/update/{{entry.id}}" method="POST">
            <input type="text" name='Your Name' placeholder="Your Name" id=name>
            <input type="text" name="Father's Name" placeholder="Father's Name" id=parent>
            <!-- <input type="text" name="Mother's Name" placeholder="Mother's Name" id=parent> -->
            <input type="text" name="Spouse's Name" placeholder="Spouse's Name" id=spouse>
            <select name="Any Children?" placeholder="Any children?">
                <option disabled selected value="">Any children?</option>
                <option value="True">Yes, I have children</option>
                <option value="False">No, I have no children</option>
            </select>
            <input type='submit' name='Update Task'>
        </form>
    </div>
</div>
{% endblock %}